* {
    font-family: 'Spartan', sans-serif !important;
    font-weight: 200;
 }
 
 body {
    font-family: 'Spartan', sans-serif !important;
    font-weight: 200;
    line-height: 1.5;
    background-image: url("");
    background-repeat: no-repeat;
    background-color: rgb(203, 219, 162);
    background-size: cover;
    letter-spacing: 0.12rem;
}